*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background : #232323;
    background-size: auto;

    background-size: 500% 100%;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #408bab;
}

.neve{
    position: absolute;
    display: flex;
}
.neve span{
    width: 5px;
    height: 5px;
    background-color: white;    
    margin: 0 6px;
    border-radius: 30%;
    box-shadow: 0 0 10px 5px #cbffff50,
    0 0 100px white;
    animation: flocos calc(150s /var(--i) ) linear infinite;
               
}
@keyframes flocos {
    0%{
        transform: translateY(-20vh) scale(0);
    }
    100%{
        transform: translateY(90vh) scale(1);
    }
}
.intro{
    color: white;
    align-items: center;
    text-align: center;
    font-family: 'Poppins';
    font-weight: lighter;
    margin-bottom: -30px;
    font-size: 3.0em;
    margin-top:215px ;
    margin-left: -650px;
    
}
.logo{
    width: 80px;
    height: 80px;
    margin-right: 1400px;
    position:absolute;
    display: flexbox;
    overflow: hidden;
}

.t1{
    color: #3564d0;
    align-items: center;
    text-align: center;
    font-family: 'Poppins';
    font-weight: bold; 
    font-size: 4.5em;
    height: 35px; 
   
}
header {
    display: flex;
    justify-content:flex-end;
    align-items: flex-start;
    color: white;
    margin-top: 20px;
}
nav ul {
    list-style: none;
    display: flex;
    margin-right: 100px;
}

.sobre{/*BOTÃO SOBRE*/
    color: white;
    align-items: flex-end;
    text-align: right;
    margin-top: 20px;
    margin-right: 40px;
    font-family: 'Poppins';
    size: 50px;
    font-weight: lighter;
    font-size: 20px; 
    cursor: pointer;
    z-index: 100; 
    
}
.sobre-link{/*LINK BOTÃO SOBRE*/
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
}

.projetos{/*BOTÃO PROJETOS*/
    color: white;
    align-items: flex-end;
    text-align: right;
    margin-top: 20px;
    margin-right: 40px;
    font-family: 'Poppins';
    size: 50px;
    font-weight: lighter;
    font-size: 20px; 
    cursor: pointer; 
    z-index: 100;

}
.projetos-link{/*LINK BOTÃO PROJETOS*/
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
}
.projetos::after{
    content: " ";
    width: 0px;
    height: 1px;
    background-color: #3564d0; 
    position: absolute;
    align-items: flex-end;
    text-align: right;
    top: 70px;
    right: 140px;
    margin:0px 0px ;
    border-radius: 4px 4px 4px 4px;
    transition: width 0.3s ease-in-out;
}
.projetos:hover::after{
    width: 80px;
}

.sobre::after{
    content: " ";
    width: 0px;
    height: 1px;
    background-color: #3564d0; 
    position: absolute;
    align-items: flex-end;
    text-align: right;
    top: 70px;
    right: 255px;
    margin:0px 0px ;
    border-radius: 4px 4px 4px 4px;
    transition: width 0.3s ease-in-out;


}

.sobre:hover::after{
    width: 60px;
    color: #3564d0;
}
.sobre-link:hover{
    color: #3564d0;
}
.projetos-link:hover{
    color: #3564d0;
}

.sub{/*SUBTITULO*/
    color: white;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    font-family: 'Poppins';
    size: 50px;
    font-weight: lighter;
    font-size: 1.5em;   
}

.sub span{
    position: relative;
}
.sub span::before{
    content: "Desenvolvedor Júnior";
    animation: palavras 5s infinite;

}

@keyframes palavras{/*ANIMAÇÃO DAS PALAVRAS*/
     0%,33%{
         content: "Desenvolvedor Júnior"; 
           }
     34%,66%{
         content: "Gestor de TI";
            }
     67%,100%{
         content: "Técnico em Informática";
             }
}

.box-icons{
    display: flex;
    position: relative;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    list-style-type: none;
}
.box-icons li{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .3s;
    cursor: pointer;
}
.box-icons li span{
    position: absolute;
}
.box-icons li:hover{
    width: 250px;
}
.box-icons li .icon{
    font-size: 2.5em;
    color: #757575;
    transform: scale(1);
    transition: .3s;
    transition-delay: .1s;
}
.box-icons li:hover .icon{
    transform: scale(0);
}
.box-icons li .text{
    font-size: 20px;
    color: rgb(255, 255, 255);
    transform: scale(0);
    font-family: 'poppins';
    font-weight: lighter;
    transition: .3s;
    transition-delay: .2s;
}
.box-icons li:hover .text{
    transform: scale(1);
}
.box-icons li::before{
    content: '';
    position: absolute;
    background-image: linear-gradient(45deg, var(--cor1), var(--cor2));
    inset: 0;
    opacity: 0;
    border-radius: 60px;
}
.box-icons li:hover::before{
    opacity: 1;
}

.container{ /*NEVE*/
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.container-inicio{/*CAIXA PRINCIPAL*/
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 65% 35%;
    overflow: hidden;
}

.mim{/* CAIXA DE TEXTO (SOBRE)*/
    width: 100%;
    background-color: #3564d0;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative;
    margin-top: 60px;  
    margin-bottom: 50px;
    padding: 80px;
}

.sub2 {/*TEXTO TITULO (SOBRE)*/
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 60px;
    color: #ffffff;
    position: relative;
    margin-bottom: 60px;   
}

.foto { /*CAIXA FOTO BRYAN*/
    width: 500px;
    height: 500px;
    justify-content: end;
    margin-left: 20px;
    margin-top: 100px;
    position:relative;
    display: flexbox;
    overflow: hidden;
}
.foto1{/*FOTO BRYAN*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    display: flexbox;
}

.txt{/*TEXTO SOBRE*/
    font-family: 'Poppins';
    font-weight:lighter;
    color: #ffffff;
    font-size:20px;
    position: relative;
    margin-left:80px;
    margin-right: 80px;
    margin-bottom: 20px;
    text-align: justify;
}
.trabalho{ /*CAIXA PROJETOS*/
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.sub3{/*TITULO PROJETOS*/
    font-family: 'Poppins';
    font-weight:bold;
    color: #3564d0;
    font-size:60px;
    text-align: center;
}
.trabalho p{
    font-family: 'Poppins';
    font-weight:lighter;
    color: #ffffff;
    font-size:20px;
    text-align: center;
    margin-top: 20px;
}
.projetos_container{ /*CAIXA PROJETOS*/
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 24%;
    overflow: hidden;
    padding: 40px;
    margin-top: 50px;
    gap: 15px;
}
.projetos_container .cards{
    width: 300px;
    height: 500px;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: #3564d0;
    border: 2px solid #fff;
    border-radius: 20px;
}
.projetos_container .cards .card-link {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;  
}
.projetos_container .cards .card-link img{
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 20px;
    border: 10px solid #232323;
    transition: .5s;
}
.projetos_container .cards .card-link:hover img{
    opacity: .5;;
}
.projetos_container .cards .card-link i{
    position: absolute;
    font-size: 30px;
    margin-left: 50px;
    color: #fff;
    transform: scale(0);
    transition: .5s;
}
.projetos_container .cards .card-link:hover i{
    transform: scale(1);
}
.projetos_container .cards .card-link p{
    position: absolute;
    font-size: 20px;
    color: #fff;
    margin-left: 50px;
    margin-top: 70px;
    font-family: 'poppins';
    font-weight: bold;
    transform: scale(0);
    transition: .5s;
}
.projetos_container .cards .card-link:hover p{
    transform: scale(1);
}
@keyframes treme{
    0%{
        transform: translateX(0px);
    }
    20%{
        transform: translateX(5px);
    }
    40%{
        transform: translateX(0px);
    }
    60%{
        transform: translateX(-5px);
    }
    80%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(5px);
    }
    
}
.projetos_container .cards .card-link .bi-tools{
    position: absolute;
    font-size: 30px;
    margin-left: 50px;
    color: #fff;
    transform: scale(0);
    transition: .5s;
}
.projetos_container .cards .card-link:hover .bi-tools{
    transform: scale(1);
}
.projetos_container .cards .card-link:active .bi-tools{
    animation: treme .2s ease-in-out;
}
.projetos_container .cards h3{
    font-family: 'poppins';
    font-weight: bold;
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
}
.projetos_container .cards span{
    font-family: 'poppins';
    font-weight:lighter;
    color: #fff;
    font-size:12px;
    text-align: justify;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
}
.linguagem-prog{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.linguagem-prog img{
    width: 30px;
    height: 30px;
}





footer{
    background-color: #3564d0;
    color: #ffffff;
    width: 100%;
    text-align: center;
    position: relative;
    font-family: 'poppins';
    font-weight: lighter;
    font-size: 25px;
    margin-top: 50px;
}
@media screen and (max-width: 700px) {
    /*Header*/
    .logo{
        width: 50px;
        height: 50px;
        margin-right:300px;
    }
    nav ul{
        margin-right: 0px;
        margin-top: -7px;
    }
    nav ul li.sobre{
        font-size: 15px;
    }
    .sobre::after{
        top: 55px;
        right: 140px;
    }
    .sobre:hover::after{
        width: 40px;
    }
    nav ul li.projetos{
        font-size: 15px;
    }
    .projetos::after{
        top: 55px;
        right: 40px;
    }
    .projetos:hover::after{
        width: 60px;
    }

    /*inicio*/
    .container-inicio{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .intro{
        margin-bottom: 15px;
        font-size:20px;
        text-align: center; 
        margin-left: -200px;
        margin-top: 80px;
    }
    .t1{
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px; 
    }
    p.sub {
        font-size: 20px;
        text-align: center;
        margin-top: 100px;
    } 
    .box-icons li{
        width: 60px;
        height: 60px;
    }
    .box-icons li:hover{
        width: 150px;
    }
    .box-icons li span.text{
        font-size: 20px;
    }
    .box-icons li span.icon{
        font-size: 30px;
    }
    /*Foto Bryan*/
    .foto{
        width: 500px;
        height: 500px;
        margin-left: 0px;
    }
    /*Sobre*/
    .mim{
        padding: 20px;
    }
    .sub2{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .txt{
        font-size: 15px;
        margin-left: 0;
        margin-right: 0;
    }
    /*Projetos*/
    .trabalho .sub3{
        font-size: 40px;
        margin-top: 20px;
    }
    .trabalho p{
        font-size: 15px;
        margin-top: 10px;
    }
    .projetos_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 30px;
    }
    /*RODAPE*/
    footer{
        font-size: 12px;
    }
    
    

   
}
